form,.user-panel, .sidebar-menu,.print_btn,.dataTables_info, .headTitle,hr{
	display: none;
}
.not-print{
	display: none;
}
.only-print{
	display: inline-block !important;
}
table.dataTable thead th.sorting:after, table.dataTable thead th.sorting_asc:after{
	content:'';
}
th{
	background-color: #eee;;
	text-align: center;
}
table td{
	padding: 2px !important;
}

.dataTables_info, .dataTables_paginate, .dataTables_length, .dataTables_filter{
	display: none;
}
a{
	border: none !important;
}
#print-head{
	display: block !important;
	margin: 0px;
	padding: 0px;
}
#print-head h4{
	margin: 0px;
	padding: 0px;
}
#print-head .add{ 
	margin: 0px;
	padding: 0px;
	font-size: 9px;
}
body{
	width: 90% !important;
	margin: 20px auto;
}
a[href]:after{
	content:none
}